#body
{background-color:	#ffffff;}


#SignIn
{background-color:#444; width:100%;height:30px; color:white;}

#MenuList
{
position:absolute;
left:500px;
list-style-type:none;
padding:0;
overflow:hidden;
color:white;
}
li
{
margin:0 auto;
color:#ffffff;
float:right;
}
a
{
background-color:#;
color:517281;
display:block;
width:120px;
font-size:22px;	
}
a:hover
{
color:white;
}

}

#LargeMap
{
height:99%;
width:81%;
background-color:;
opacity:0.;
position:absolute;
top:2px;
left:120px;
border-top-left-radius:125px;
border-bottom-right-radius:125;

}

.container
{
margin:0 auto;

}

#Follow_Friends_Button:hover
{
background-color:#517271;
color:white;

}
#Follow_Friends_Button
{
height:60%;
width:100%;
font-size:130pt;
text-align:center;
background-color:#517271;
box-shadow: inset 0 5px 199px #517251, 0 1px 10px #ffffff ;
color:white;
position:absolute;
top:150px;
cursor:pointer;

}


#Footer
{

}

#logout
{
text-align:top;
text-align:justify;
}

#statsfc-top-scorers
{

}


#statsfc-table
{
height:100%;
width:80%;
background-color:white;
overflow:scroll;

}
#statsfc-form
{
height:100%;
width:80%;
background-color:white;
overflow:scroll;

}
#statsfc-top-scorers
{
height:100%;
width:80%;
background-color:#ffffff;
overflow:scroll;

}

#statsfc-results
{
height:100%;
width:80%;
background-color:white;
overflow:scroll;

}
#statsfc-fixtures
{
height:100%;
width:80%;
background-color:white;
overflow:scroll;

}

#statsfc-next-fixture
{
height:100%;
width:80%;
background-color:blue;
overflow:scroll;

}

#welcome

{
width:100%;
position:absolute;
left:170px;
top:180px;
border-radius:22px;

}
#test

{ width:4000px;}
#map { height: 100%; width:80%; }

#top_split

{height:30%;width:100%; background-color:#ffffff;}

#bottom_split

{height:70%;width:100%; background-color:#ffffff;}

#log_table
{box-shadow: inset 0 0px 0px #ffffff, 0 0px 190px #ffffff ;
border-radius:5px; height:20px; width:50%;
position:relative;
left:330px;
top:20px;
opacity:0.7;
 background-color:#444;
 float:left;
 }


#table_text
{color:white;
text-align:center;
font-size:18pt;}

#sub
{
height:10px;
width:100px;
position:relative;
left:60%;
bottom:40px;
border-radius:202px;
}

#mypassword
{height:%; background-color:#fffff; border-radius:5px; font-size:18pt;}

#myusername
{height:%; background-color:#fffff; border-radius:5px; font-size:18pt; }

#image_div
{

height:160px;
width:900px;
background-image:url('BBG.png');
background-size:cover;
margin-top:8%;
position:relative;
left:15%;
top:18%;

}
